:root{
  color-scheme: dark;
}

h1{
  color: white;
  margin-top: 0;
  font-family: sans-serif, "Be Vietnam Pro";
}

h2{
  color: #e6e6e6;
  margin-bottom: 0;
  font-family: sans-serif;
}

h3{
  margin: 0;
  font-family: sans-serif;
}

div{
  width: 800px;
  padding: 10px;
  margin: 20px auto; 
  border-radius: 20px;
  border-style: none;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  background-color: rgba(70, 70, 70, 0.4);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

input{
  width: 800px;
}

button{
  width: 100px;
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
}

label{
  font-family: sans-serif;
}

img{
  display: none;
  width: 800px;
  border-radius: 10px;
}

.plural{
  font-size: 1em;
  font-family: sans-serif;
}

.special{
  font-size: 1em;
  font-family: fantasy;
  color: goldenrod;
}

.gonks{
  font-size: 1.5em;
  color: white;
}

.special

body{
  background-image: url('gonk.jpg');
  background-size: 150px;
}
