h1{
  color: red;
  margin-top: 0;
  font-family: sans-serif;
}

h2{
  color: blue;
  margin-bottom: 0;
  font-family: sans-serif;
}

h3{
  margin: 0;
  font-family: sans-serif;
}

span{
  font-size: 1.5em;
  color: limegreen;
  font-family: monospace;
}

div{
  width: 800px;
  padding: 10px;
  margin: 20px auto;
  background-color: rgb(250, 250, 250); 
  border-radius: 20px;
  border-style: solid;
  border-color: grey;
}

input{
  width: 800px;
}

button{
  width: 100px;
  padding: 10px;
  margin: 10px;
  font-family: sans-serif;
}

label{
  font-family: sans-serif;
}

img{
  display: none;
  width: 800px;
}

.plural{
  font-size: 1em;
  color: blue;
  font-family: sans-serif;
}

.special{
  font-size: 1em;
  font-family: fantasy;
  color: red;
}
